body {
    font-family: "Open Sans", sans-serif;
    background-color: grey;
    font-size: 13px;
}
a {
    text-decoration: none;
    color: darkcyan;
}
#container {
    margin: 0 auto;
    margin-top: 20px;
    width: 900px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 4px;
    box-shadow: 5px 5px 20px black;
}
#container .menu {
    background-color: #DDD;
    padding: 10px;
    margin-bottom: 20px;
}
#container .menu img {
    float: left;
    margin: auto 0;
    margin-right: 10px;
}
#container .menu a {
    text-decoration: none;
    color: darkcyan;
}
#container .list {
    margin: 10px;
}
#container .list th {
    text-align: left;
}
#container .list td {
    margin: 1px;
    padding: 0 5px;
}
#container .userinfo td {
    padding: 5px;
}
#container img {
    border: 1px solid black;
    border-radius: 5px;
}
#container .error{
    color:red;
    margin: auto;
    font-size: 12px;
}
#container .form {
    margin: 20px;
}
#container .form td {
    padding: 0 10px;
}
#container .form input {
    width: 300px;
}
